.webix_icon_button{
	position:relative;
}
.webix_layout_toolbar.webix_toolbar .webix_el_icon  .webix_icon{
	height:100%;
	width:100%;
	line-height: inherit;
}
.webix_icon_count {
	background-color: #eb6e1a;
	border-radius: 50%;
	font-size: 12px;
	height: 22px;
	min-width: 22px;
	line-height: 17px;
	box-sizing: border-box;
	-moz-box-sizing: boder-box;
	padding: 0 4px;
	text-align: center;
	line-height: 22px;
	position: absolute;
	right: 0;
	top: 0;
}

.header_person{
	background: transparent !important;
}
.header_person .webix_template{
	padding: 0;
	line-height: 46px;
}
.header_person .photo{
	width: 38px;
	height: 38px;
	float: left;
	margin-top: 5px;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}
.header_person span{
	color: #fff;
	float: left;
	padding-left: 7px;
}
.header_person .webix_icon{
	line-height: inherit;
}

.webix_tree_item {
	height: 40px;
	line-height: 40px;
}
.webix_tree .webix_scroll_cont > .webix_tree_leaves {
	padding: 0;
}
.menu{
	background: #f1f1f1;
}
.menu .webix_tree_item.webix_selected , .menu .webix_tree_item.webix_selected span{
	background-color: #27ae60;
	padding-right:0;
}
.menu .webix_tree_branch_1 .webix_tree_item{
	padding-left:10px;
	padding-right:10px;
}
.menu .webix_tree_branch_1>.webix_tree_item{
	padding: 5px 12px;
	line-height:40px;
	font-size: 12px;
	text-transform: uppercase;
}
.menu .webix_tree_item.webix_selected span, .menu .webix_tree_item span{
	margin:0;
	padding:1px;
}

.menu .webix_tree_item.webix_selected .webix_icon{
	color: #fff;
}
.menu .webix_icon{
	width: 25px;
	padding-left: 12px !important;
	text-align: center;
}
.menu .dashboard .webix_icon{
	font-size: 18px;
}

.menu .webix_tree_leaves .webix_tree_leaves {
	margin-left: 0px;
}
/*.menu .dashboard .webix_icon{
	color: #27ae60 ;
}
.menu .orders .webix_icon{
	color: #eb6e1a;
}
.menu .products .webix_icon{
	color: #9b59b6;
}*/
.list_popup .webix_list_item{
	position:relative;
	line-height: 36px;
}
.list_popup .photo{
	width: 34px;
	height: 34px;
	border-radius: 50%;
}
.list_popup .text{
	padding-left:10px;
	display: inline-block;
	max-width:180px;
	overflow: hidden;
	white-space: nowrap;
}
.list_popup .name{
	color:#3498db;
	font-size: 12px;
	display: block;
	font-style: italic;
	overflow: hidden;
	padding:0 2px 0 4px;
	position: absolute;
	right: 10px;
	background: #fff;
	top:3px;
}

.extended_search{
	color: #3498db;
	padding: 5px 10px;
	line-height: 30px;

}
.extended_search span{
	cursor: pointer;
}


.show_all{
	background-color: #fbfbfb;
}
.show_all .webix_template{
	line-height: 30px;
	padding: 5px 10px;

}
.show_all .webix_template .webix_icon{
	line-height: 30px;
	float:right;
}


.webix_layout_space, .webix_layout_wide, .webix_view.webix_layout_accordion{
	background-color: #f4f4f4;
}

.title{
	background-color: #fbfbfb;
}
.title .webix_template{
	padding: 10px 12px;
	line-height: 29px;
}
.title .header{
	float: left;
	font-size: 18px;
}
.title .details{
	float: left;
	font-size: 13px;
	font-style: italic;

	padding-left: 10px;
}

.sub_title  .webix_template{
	padding-left: 12px;
	padding-top: 12px;
}

.tasks_list .webix_list_item:last-child{
	border-bottom: none;
}

.tasks_list .done .list_text{
	text-decoration: line-through;
}
.tasks_list .done .list_text{
	text-decoration: line-through;
}
.tasks_list .marker{
	padding: 1px 3px;

	font-size: 10px;
	border-radius: 3px;
	margin-left: 10px;
}

.tasks_list .marker.projects{
	color: #fff;
	background-color: #eb6e1a;
}
.tasks_list .marker.company{
	color: #fff;
	background-color: #27ae60;
}
.tasks_list .fa-square-o{
	color: #888;
}
.show_all.webix_layout_form{
	background:#fbfbfb;
}

.chat_list .webix_list_item{
	border-color: #fff;

}
.chat_list .webix_list_item:last-child{
	border-bottom: none;
}
.chat_list .name{
	color: #3498db;
	font-size: 13px;
	display: block;
	line-height: 16px;
	font-weight: 700;
}

.chat_list .photo{
	width: 42px;
	height: 42px;
	margin-top: 10px;

	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;

}
.chat_list .text{
	border-left: 2px solid #49cd81;
	display:block;
	background-color: #fbfbfb;
	margin-top: -55px;
	margin-left:60px;
	padding:10px;
	line-height: 21px;
	font-size: 14px;
}
.chat_list .time{
	display: inline-block;
	font-weight: 400;
	color: #666666;
	padding:0 10px;
}

.chat_list .webix_list_item:nth-child(even) .text{
	text-align: right;
	border-left:none;
	border-right: 2px solid #f19b60;
	margin-left:0px;
	margin-top:5px;
	margin-right:60px;

}
.chat_list .webix_list_item:nth-child(even) .photo{
	float: right;
}
.tiles{
	background: #f4f4f4;
}
.tiles .webix_template{
	margin-top:8px;
	padding:0 5px 0 5px;
}
.flex_tmp{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}
.flex_tmp .item{
	border-radius: 3px;
	position: relative;
	min-width: 180px;
	height: 105px;
	padding-top: 10px;
	margin: 11px 5.5px 0px 5.5px;
	color: #fff;
	flex: 1 auto;
}
.flex_tmp .item .icon{
	padding-left:10px;
	height: 73px;
	padding-top:7px;
	display: block;
	width: 30%;
	font-size: 77px;

	color:rgba(255, 255, 255, 0.17);
}
.flex_tmp .item .details{
	position: absolute;
	top:10px;
	right: 10px;
	width: 150px;
}
.flex_tmp .item .value{
	font-size: 27px;
	text-align: right;
}
.flex_tmp .item .text{
	width: 100%;
	font-size: 18px;
	text-align: right;
}
.tiles .orders{
	background-color: #a693eb;
}
.tiles .users{
	background-color: #63b4ea;
}
.tiles .item.profit{
	background-color: #49cd81;
}
.tiles .feedbacks{
	background-color: #f19b60;
}

.flex_tmp .footer{
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 13px;
	background:rgba(0, 0, 0, 0.05);
}
.flex_tmp .footer .webix_icon{
	font-size: 14px;
}


